<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Trae Project</title>
    <script type="module" crossorigin src="/static/assets/index-ZByIcp9j.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/vendor-react-DdwHQMIG.js">
    <link rel="modulepreload" crossorigin href="/static/assets/vendor-mosaic-Bvn1MJ26.js">
    <link rel="modulepreload" crossorigin href="/static/assets/vendor-markdown-CWgKcMuH.js">
    <link rel="modulepreload" crossorigin href="/static/assets/vendor-anim-C8iPj_J9.js">
    <link rel="stylesheet" crossorigin href="/static/assets/index-DCVyJKnN.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
